# Data Preparation

In [3]:
# load packages

import numpy as np
import pandas as pd

In [33]:
# load dataset 

Chicago_Crimes_2005_to_2007 = pd.read_csv("crimes-in-chicago/Chicago_Crimes_2005_to_2007.csv", usecols = range(23))
Chicago_Crimes_2008_to_2011 = pd.read_csv("crimes-in-chicago/Chicago_Crimes_2008_to_2011.csv", usecols = range(23))
Chicago_Crimes_2012_to_2017 = pd.read_csv("crimes-in-chicago/Chicago_Crimes_2012_to_2017.csv", usecols = range(23))

# merge data 
Chicago_Crimes_2005_to_2017 = pd.concat([Chicago_Crimes_2005_to_2007, Chicago_Crimes_2008_to_2011, Chicago_Crimes_2012_to_2017])

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
# filter the dataset by years and export data from 2007 to 2017

Chicago_Crimes_2005_to_2017.head(20)
print(Chicago_Crimes_2005_to_2017.Year.unique())
Chicago_Crimes_2007_to_2017 = Chicago_Crimes_2005_to_2017.loc[(Chicago_Crimes_2005_to_2017['Year'] >= 2007) 
                                                              & (Chicago_Crimes_2005_to_2017['Year'] <= 2017)]
print(Chicago_Crimes_2007_to_2017.Year.unique())

# store the new DataFrame to a csv file for later use.
# Chicago_Crimes_2007_to_2017.to_csv("Chicago_Crimes_2007_to_2017.csv",index=False)

[2006 2005 2007 2008 2009 2011 2010 2016 2015 2012 2014 2013 2017]
[2007 2008 2009 2011 2010 2016 2015 2012 2014 2013 2017]

In [4]:
# load data from 2007 to 2017
df = pd.read_csv("Chicago_Crimes_2007_to_2017.csv")

# check for features 
print(df.columns.values)

# drop unnecessary features, col 0
df = df.drop(df.columns[0], axis=1)
print(df.dtypes)
print(df.shape) # (4496569, 22), 22 features 

# removing columns X/Y Coordinate, Updated On
df.drop(['X Coordinate', 'Y Coordinate', 'Updated On'], axis = 1, inplace = True)

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['Unnamed: 0' 'ID' 'Case Number' 'Date' 'Block' 'IUCR' 'Primary Type'
 'Description' 'Location Description' 'Arrest' 'Domestic' 'Beat'
 'District' 'Ward' 'Community Area' 'FBI Code' 'X Coordinate'
 'Y Coordinate' 'Year' 'Updated On' 'Latitude' 'Longitude' 'Location']
ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude                object
Location                 object
dtype: object
(4496569, 22)

In [5]:
# observations

df.Date.head(10) # separate data into two col: date and time 
df['Y Coordinate'].head(10) # get rid of X&Y Coordinates (NaN)
df.Latitude.head(10)
df.isna().any() # check for missing values
df['ID'].is_unique #no unique, cases being recorded multiple times

False

In [15]:
# return only one record per case by removing duplicated rows 

print(len(df.ID.unique())) #3182854, but we have 4496569 rows 
df.drop_duplicates(keep = 'first', inplace = True)
print(df.shape) #(3210707, 19)

3182854

TypeError: 'tuple' object is not callable

In [33]:
# drop duplicated IDs 
# ex: df[df['ID'] == 7781132]; 7815319, 7781132, 6023200     

df.drop_duplicates(subset = 'ID', keep = 'first', inplace = True)
print(df.shape)

(3182854, 19)

In [36]:
### observe not unique rows 

#unique_ID = df.ID.unique()
#cn = df['Case Number'].unique()
#print(len(unique_ID)) #3182854
#print(len(cn)) #3182854
#not_unique = df[df.duplicated(subset=['ID'],keep=False)]
#not_unique.sort_values('ID')
#not_unique

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
380611,903886,6023200,HP122123,01/13/2008 03:43:03 PM,052XX W FERDINAND ST,2024,NARCOTICS,POSS: HEROIN(WHITE),ALLEY,True,...,28.0,25.0,18,1141315.0,1902645.0,2008,02/04/2016 06:33:39 AM,41.888933,-87.7565,"(41.888932876, -87.756493754)"
1528107,903886,6023200,HP122123,01/13/2008 03:43:03 PM,052XX W FERDINAND ST,2024,NARCOTICS,POSS: HEROIN(WHITE),ALLEY,True,...,28.0,25.0,18,1141315.0,1902645.0,2008,02/04/2016 06:33:39 AM,41.888933,-87.7565,"(41.888932876, -87.756493754)"

380611     15.0
1528107    15.0
Name: District, dtype: float64